.change{
    border-style: none;
    color: black;
    background-color: white;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid green;
    padding: 3px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: green;
}


.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid green;
    background: green;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
}