.alert {
    margin: 0 auto 20px;
    text-align: center;
}
.title{
    width:100%;
    height:50px;
    font-size:38px;
    color:black;
    text-align:center;
    line-height:50px;
    margin-bottom:20px;
}
.bglogin{
    display: table;
    height: 100%;
    padding: 0;
    width: 100%;
    background-image: url('../img/loginBG.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.bglogin .row{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.divcenter {
    margin: 0 auto;
}